.size {
    max-width: 1000px;

}

.bottom-margin {
    margin-bottom: 60px;
}

.bottom-top {
    margin-top: 50px;
}

.colour {
    color: aliceblue;
}

.gray {

    border-radius: 50px;
    padding: 10px;
}

.boder {

    border: 1px solid #0d6efd;
}

.text-alignment {
    text-align: justify;
}